<launch>
  

  <!-- Flying -->
  <node pkg="people_detection_and_tracking" type="drone_control.py" name="hector_test"  output="screen">
  </node>
  <!-- people_tracking -->
  <node pkg="people_detection_and_tracking" type="gazebo_people_tracking.py" name="load_people_node"  output="screen">
  </node>


</launch>